.devices {
	.cards {
		@media (--medium) {
			grid-template-columns: unset;
		}

		@media (--large) {
			grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
		}
	}
}

.devices__connectors {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 0.75rem;

	tr {
		vertical-align: top;

		&:nth-child(even) {
			background-color: var(--gray-3);
		}
	}

	thead tr {
		background-color: var(--gray-7);
		color: var(--color-paper);
	}

	td,
	th {
		padding: calc(0.5 * var(--content-padding));
	}

	td span {
		display: inline-block;
		padding-block-start: calc(0.5 * var(--content-padding));
	}

	.devices__connectors__col-name,
	.devices__connectors__col-type {
		width: 25%;
	}

	.devices__connectors__col-data {
		width: 50%;
	}
}
