.site-header {
	box-shadow: var(--shadow-6);
	display: flex;
	gap: var(--content-padding);
	z-index: 1;
}

.site-title {
	background-color: var(--color-tertiary);
	color: var(--color-paper);
	margin: calc(-1 * var(--content-padding));
	padding-block: var(--content-padding);
	padding-inline: calc(2 * var(--content-padding));
	font-weight: 900;
	font-style: italic;
	transition: all var(--duration) ease-in-out;

	a {
		color: inherit;
		text-decoration: none;
	}

	&:hover {
		background-color: var(--color-paper);
		color: var(--color-tertiary);
	}
}

.main-navigation {
	ul {
		display: flex;
		list-style: none;
		margin-block: calc(-1 * var(--content-padding));
		margin-inline: 0;
		padding: 0;

		a {
			color: var(--color-paper);
			display: inline-block;
			padding-block: var(--content-padding);
			padding-inline: calc(2 * var(--content-padding));
			text-decoration: none;
			transition: all var(--duration) ease-in-out;

			&:hover {
				background-color: var(--gray-7);
			}

			&.is-active,
			&.is-active:hover {
				background-color: var(--color-paper);
				color: var(--color-offblack);
			}
		}
	}
}
