.react-flow .react-flow__edges {
	z-index: 9999;
}

.react-flow__edge {
	opacity: 0.5;
	transition: opacity var(--duration) ease-in-out;

	&:hover,
	&:focus,
	&:focus-within {
		opacity: 1;
	}
}

.react-flow__edge-path {
	stroke: var(--color-offblack) !important;
	stroke-width: 5 !important;
}

.react-flow__panel.react-flow__controls {
	gap: var(--content-padding);

	.react-flow__controls-button {
		background-color: var(--color-paper);
		border: none;
		color: var(--color-tertiary);
		transition: all var(--duration) ease-in-out;
	}

	button:not(.does-not-exist):hover {
		background-color: var(--color-tertiary);
		color: var(--color-paper);
	}
}
